{% extends 'base_loggedin.html' %}
{% block content %}
  <main class="flex-grow">
    <section class="py-16 px-6 text-center">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl font-bold text-gray-900 mb-4">Welcome back, Chef!</h2>
        <p class="text-lg text-gray-700">Here are some recipe suggestions to get your creativity cooking.</p>
      </div>
    </section>
      <section class="pb-20 px-6">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
      {% for recipe in recipes %}
        {% include "recipe_card.html" with recipe=recipe %}
      {% endfor %}
    </div>
  </section>
  </main>
 {% endblock content %}
